{% assign variantCount = product.variants | size %}
{% assign downcased_option = product.options_with_values[0].name | downcase %}
{% assign option_color_swatch = settings.option_color_swatch | downcase %}
<form action="{{ routes.cart_url }}/add" method="post" class="variants" id="{{id}}-{{ product.id }}-{{ sectionId }}" data-id="product-actions-{{ product.id }}" enctype="multipart/form-data">
  {% if sold_out %}
  <button class="btn add-to-cart-btn" type="submit" disabled="disabled" {% if settings.enable_multilang %}data-translate="products.product.unavailable"{% endif %}>
    {{ 'products.product.unavailable' | t }}
  </button>
  {% else %}
  {% if variantCount > 0 and product.variants.first.title != 'Default Title' %}
    {% if product.options_with_values.size == 1 and option_color_swatch contains downcased_option and settings.use_color_swatch %}
      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
      <input type="hidden" name="quantity" value="1" />
      <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" data-form-id="#{{id}}-{{ product.id }}-{{ sectionId }}" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}>
        {{ 'products.product.add_to_cart' | t }} 
      </button>
    {% else %}
      {% if settings.enable_quick_shop %}
        <a class="cart-btn" data-href="{{ product.url }}" title="{{ product.title }}" data-init-quickshop tabindex>
          <svg width="32px" height="32px" fill="none">
            <path d="M0 16C0 7.163 7.163 0 16 0s16 7.163 16 16-7.163 16-16 16S0 24.837 0 16z" fill="#fff"></path>
            <path clip-rule="evenodd" d="M21.704 23.605h-11.27a2.132 2.132 0 01-1.574-.668c-.4-.428-.586-1-.512-1.57l1.113-8.387h13.217l1.1 8.387c.143 1.091-.666 2.087-1.81 2.225l-.264.013zM18.852 10.988c0-1.467-1.245-2.656-2.782-2.656s-2.783 1.19-2.783 2.656v1.992h5.565v-1.992z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"></path>
            <g>
              <mask id="a" fill="#fff">
                <path d="M18.571 17.845h-2.035a.107.107 0 01-.107-.107v-2.036a.428.428 0 10-.858 0v2.036a.107.107 0 01-.107.107H13.43a.429.429 0 100 .857h2.035a.107.107 0 01.107.107v2.036a.429.429 0 00.858 0v-2.036a.107.107 0 01.107-.107h2.035a.429.429 0 100-.857z"></path>
              </mask>
              <path d="M18.571 17.845h-2.035a.107.107 0 01-.107-.107v-2.036a.428.428 0 10-.858 0v2.036a.107.107 0 01-.107.107H13.43a.429.429 0 100 .857h2.035a.107.107 0 01.107.107v2.036a.429.429 0 00.858 0v-2.036a.107.107 0 01.107-.107h2.035a.429.429 0 100-.857z" fill="#000"></path>
              <path d="M16.429 17.738h-1.715 1.715zM16 15.273V13.56v1.714zm-3 3h-1.714H13zm3.536.429v-1.714 1.714zm2.035-2.571h-2.035v3.428h2.035v-3.428zm-2.035 0c.426 0 .835.169 1.136.47l-2.424 2.425c.341.341.805.533 1.288.533v-3.428zm1.136.47c.302.302.47.71.47 1.137h-3.428c0 .483.192.946.534 1.288l2.424-2.425zm.47 1.137v-2.036h-3.428v2.036h3.429zm0-2.036c0-.568-.225-1.113-.627-1.515l-2.424 2.424a1.285 1.285 0 01-.377-.909h3.429zm-.627-1.515A2.143 2.143 0 0016 13.559v3.429c-.341 0-.668-.136-.91-.377l2.425-2.424zM16 13.559c-.568 0-1.113.226-1.515.628l2.424 2.424a1.285 1.285 0 01-.909.377v-3.429zm-1.515.628a2.143 2.143 0 00-.628 1.515h3.429c0 .341-.136.668-.377.91l-2.424-2.425zm-.628 1.515v2.036h3.429v-2.036h-3.429zm0 2.036c0-.427.17-.835.47-1.137l2.425 2.425c.342-.342.534-.805.534-1.288h-3.429zm.47-1.137c.302-.301.711-.47 1.137-.47v3.428c.483 0 .947-.192 1.288-.533L14.328 16.6zm1.137-.47H13.43v3.428h2.035v-3.428zm-2.035 0c-.569 0-1.114.225-1.516.627l2.425 2.425a1.286 1.286 0 01-.91.376v-3.428zm-1.516.627a2.143 2.143 0 00-.627 1.515h3.428c0 .341-.135.669-.376.91l-2.425-2.425zm-.627 1.515c0 .569.226 1.114.627 1.516l2.425-2.425c.24.241.376.568.376.91h-3.428zm.627 1.516c.402.401.947.627 1.516.627v-3.428c.34 0 .668.135.909.376l-2.425 2.425zm1.516.627h2.035v-3.428H13.43v3.428zm2.035 0c-.426 0-.835-.169-1.136-.47l2.424-2.425a1.821 1.821 0 00-1.288-.533v3.428zm-1.136-.47a1.607 1.607 0 01-.47-1.137h3.428c0-.483-.192-.946-.534-1.288l-2.424 2.425zm-.47-1.137v2.036h3.428v-2.036h-3.429zm0 2.036c0 .568.225 1.113.627 1.515l2.424-2.424c.241.24.377.568.377.909h-3.429zm.627 1.515c.402.402.947.628 1.515.628v-3.429c.341 0 .668.136.91.377l-2.425 2.424zm1.515.628c.568 0 1.113-.226 1.515-.628l-2.424-2.424c.241-.241.568-.377.909-.377v3.429zm1.515-.628c.402-.402.628-.947.628-1.515h-3.429c0-.341.136-.668.377-.91l2.424 2.425zm.628-1.515v-2.036h-3.429v2.036h3.429zm0-2.036c0 .426-.17.835-.47 1.137l-2.425-2.425a1.821 1.821 0 00-.534 1.288h3.429zm-.47 1.137c-.302.301-.711.47-1.137.47v-3.428c-.483 0-.947.192-1.288.533l2.424 2.425zm-1.137.47h2.035v-3.428h-2.035v3.428zm2.035 0c.569 0 1.114-.226 1.516-.627l-2.425-2.425c.241-.24.568-.376.91-.376v3.428zm1.516-.627c.401-.402.627-.947.627-1.516h-3.428c0-.34.135-.668.376-.909l2.425 2.425zm.627-1.516c0-.568-.226-1.113-.627-1.515l-2.425 2.425a1.286 1.286 0 01-.376-.91h3.428zm-.627-1.515a2.143 2.143 0 00-1.516-.627v3.428c-.34 0-.668-.135-.909-.376l2.425-2.425z" fill="#000" mask="url(#a)"></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <path fill="#fff" transform="translate(13 15.273)" d="M0 0h6v6H0z"></path>
              </clipPath>
            </defs>
          </svg>
        </a>
      {% else %}
        <a class="btn" href="{{ product.url }}" title="{{ product.title }}">
          {{ 'products.product.select_options' | t }}
        </a>
      {% endif %}
    {% endif %}
  {% else %}
  <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
  <input type="hidden" name="quantity" value="1" />
  {%- assign current_variant_grid = product.selected_or_first_available_variant -%}
  {% assign first_inventory_grid = current_variant_grid.inventory_quantity %}
  
  {% if current_variant_grid.inventory_management %}
      {% if first_inventory_grid > 0 %}
        <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" data-form-id="#{{id}}-{{ product.id }}-{{ sectionId }}" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}>
          {{ 'products.product.add_to_cart' | t }} 
        </button>
        {% else %}
        <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" data-form-id="#{{id}}-{{ product.id }}-{{ sectionId }}" {% if settings.enable_multilang %}data-translate="products.product.pre_order"{% endif %}>
          {{ 'products.product.pre_order' | t }} 
        </button>
        {% endif %} 
  {% else %}
     <button data-btn-addToCart class="btn add-to-cart-btn" type="submit" data-form-id="#{{id}}-{{ product.id }}-{{ sectionId }}" {% if settings.enable_multilang %}data-translate="products.product.add_to_cart"{% endif %}>
          {{ 'products.product.add_to_cart' | t }} 
        </button>
  {% endif %}
  
  {% endif %}
  {% endif %}
</form>
{% if settings.enable_quick_shop %}
  {% if product.available %}
      {% if variantCount > 0 and product.variants.first.title != 'Default Title' %}
          <div class="product-card__variant--popup">
              {% render 'swatch-quick-shop', product: product, id: id, list: list, position: position, sectionId: sectionId %}
          </div>
      {% endif %}
  {% endif %}
{% endif %}